body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("Images/bg2.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#title-box {
  height: 400px;
  width: 400px;
}

#title-box img {
  height: 450px;
  width: 450px;
  position: absolute;
  top: 3%;
}

.main-btn {
  color: white;
  background-color: rgb(44, 190, 24);
  border: 0.35rem white solid;
  font-size: 2.7rem;
  height: 4rem;
  width: 11rem;
  border-radius: 2rem;
  display: flex;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.253);
  align-items: center;
  text-align: center;
  box-shadow: 9px 9px 7px -2px rgba(0, 0, 0, 0.445);
  justify-content: center;
  font-family: "Bubblegum Sans", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}

#theme-btn {
  background-color: #cf6d1d;
}

#theme-btn:hover {
  cursor: pointer;
}

#main-btn-container {
  display: flex;
}

#play-btn:hover {
  cursor: pointer;
}

#btn-box {
  display: none;
}

.btn {
  margin-right: 30px;
  color: white;
  border: 0.35rem white solid;
  font-size: 2.7rem;
  height: 4rem;
  width: 11rem;
  border-radius: 2rem;
  display: flex;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.253);
  align-items: center;
  text-align: center;
  box-shadow: 9px 9px 7px -2px rgba(0, 0, 0, 0.445);
  justify-content: center;
  font-family: "Bubblegum Sans", sans-serif;
}

.btn:hover {
  cursor: pointer;
}
.one {
  background-color: #cf1d67;
}
.two {
  background-color: #cfbc12;
}
.three {
  background-color: #12a3cf;
}

.score {
  margin-bottom: 2rem;
  color: white;
  font-size: 3em;
  font-family: "Bubblegum Sans", sans-serif;
  text-align: center;
}

#game-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: none;
}

#game-upper-box {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
}

#match-result {
  width: 10rem;
  white-space: nowrap;
  color: white;
  font-size: 3em;
  font-family: "Bubblegum Sans", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: rgb(73, 1, 107);
  border: 0.5rem white solid;
  border-radius: 2rem;
  width: 18rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#game-lower-box {
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#player,
#computer {
  margin: 0 9rem;
}

#player img,
#computer img {
  margin-top: 90px;
}

#player img {
  transform: scaleX(-1);
}

#popup {
  padding: 15px;
  color: white;
  font-size: 3em;
  font-family: "Bubblegum Sans", sans-serif;
  position: absolute;
  height: 18rem;
  width: 17rem;
  background-color: #c4a484;
  border: 0.4rem solid white;
  border-radius: 1rem;
  display: none;
  z-index: 2;
}

#inner-popup {
  border: 0.3rem solid white;
  border-radius: 1rem;
  background-color: #613000;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lower-popup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#lower-popup div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: #613000;
  border: 0.3rem solid white;
  border-radius: 0.5rem;
}

#lower-popup i {
  font-size: 2.5rem;
}

#title-popup {
  -webkit-text-stroke: white 2px;
  color: orange;
  font-size: 4.5rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  pointer-events: none;
}

#theme-box {
  display: none;
}

#theme-box h1 {
  color: white;
  font-size: 3em;
  font-family: "Bubblegum Sans", sans-serif;
  text-align: center;
}

#theme-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-left,
#img-right {
  color: white;
  font-size: 60px;
  width: 3rem;
  text-align: center;
}

#bg-left,
#bg-right {
  color: white;
  font-size: 8rem;
  text-align: center;
}

#bg-right:hover,
#bg-left:hover {
  opacity: 0.5;
}
#img-right:hover,
#img-left:hover {
  opacity: 0.5;
}

#bg-left {
  margin-right: 13rem;
}

#bg-right {
  margin-left: 13rem;
}

#player-temp img {
  transform: scaleX(-1);
}

#temp {
  display: flex;
}
